@charset "utf-8";

/* 
common
*/

* {
  box-sizing: border-box;
  --base-color: #fff;
  --accent-color: #F15A22;
  --headerwidth: 120px;
}

html {
  font-size: 62.5%;
}

body {
  margin: 0;
  color: #333;
}

main {
  margin-left: var(--headerwidth);
  padding: 3rem 0 0 0;
  background-color: #F5F5F4;
}

section {
  padding: 1rem;
  margin: 2rem 1rem 2rem;
  background-color: #fff;
  box-shadow: 2px 2px 3px 0 rgba(0, 0, 0, .2);
}

footer {
  padding-left: var(--headerwidth);
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0;
  font-weight: normal;
  position: relative;
  line-height: 1;
}

h2 {
  margin: 0 0 1rem 1rem;
  font-size: 2rem;
  line-height: normal;
}

h2::before{
  content:"";
  display:inline-block;
  width:0.3rem;
  height: 3rem;
  background-color:var(--accent-color);
  position:absolute;
  top: 0;
  left: -0.5rem;
}

ul, ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
  transition: .1s ease-in-out;
}

a:visited {
  color: inherit;
}

@media screen and (min-width: 900px) {
  html {
    font-size: 18px;
  }
}

th,td {
  border-bottom: solid 1px;              /* 枠線指定 */
  font-size: 1rem;
  padding: .25rem;
  vertical-align: middle;
  text-align: center;
}

.deleteform {
  display: inline;
}

.delete {
  padding: 5px;
  border: solid 1px #75818D;
  border-radius: 5px;
}

.delete:hover {
  cursor: pointer;
}

/* .foodlist tr td:nth-of-type(2){
  border-right: solid 1px;
} */

th {
  background-color: #f1592224;
}

td {
  background-color: #fff;
}

table {
  border-collapse:  collapse;
  width: 100%;
  border: solid 1px;
}

.unit-g::after {
  content: "g";
}

.unit-kcal::after {
  content: "kcal";
}

/* 
header
*/

.orange {
  color: var(--accent-color) !important;
}

.orange:hover {
  color: #CE400D !important;
}

.title-header {
  width:100%;
  height: 3rem;
  padding: 0 1rem 0 0;
  box-shadow: 2px 2px 3px 0 rgba(0, 0, 0, .2);
  position: fixed;
  z-index: 2;
  background-color: #070707;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.title-header-item {
  position: relative;
  display: flex;
  align-items: center;
  padding-right: 0.5rem;
}

.title-header-icon {
  font-size: 2rem;
  padding: 0.5rem;
}

.title-header-text {
  font-size: 0.75rem;
}

.showtitleheadersubmenu {
  width: 100%;
  font-size: 1rem;
  background-color: #070707e8;
  color: #75818D;
  width: var(--headerwidth);
  height: var(--headerwidth);
  position: absolute;
  top: 3rem;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-flow: column;
}

.title-header-submenu{
  width: 100%;
}

header > h1 {
  width: 10rem;
  font-size: 1.75rem;
  text-align: center;
  color: #fff;
}

.title-header-item {
  color: #75818D;
}

.title-header-item:hover {
  color: #fff;
  cursor: default;
}

nav {
  position: fixed;
  padding-top: 3rem;
  width: var(--headerwidth);
  height: 100%;
  background-color: #272727;
  z-index: 1;
}

.header-item {
  color: #75818D;
  width: var(--headerwidth);
  height: var(--headerwidth);
  text-align: center;
  border-bottom: 2px solid #75818D;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
}

.header-item:hover {
  color: #fff;
}

.header-icon {
  display: block;
  font-size: calc(var(--headerwidth) / 2);
}

.mainmenu {
  position: relative;
}

/* サイドメニューでホバーした時にサブメニューを表示する用 */
/* .showsubmenu {
  font-size: 0.75rem;
  color: #75818D;
  border: 2px solid #75818D;
  width: var(--headerwidth);
  height: var(--headerwidth);
  background-color: #304352;
  position: absolute;
  bottom: 0;
  right: -100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-flow: column;
} */

.subitemhref:hover {
  color: #fff;
}

.current {
  color: #fff;
  position: relative;
}

.current.header-item::after {
  content: "";
  position: absolute;
  top: 35%;
  right: 0;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: calc(var(--headerwidth) / 8) calc(var(--headerwidth) / 8) calc(var(--headerwidth) / 8) 0;
  border-color: transparent #F5F5F4 transparent transparent;
}


/* 
hero
*/

.hero {
  height: 100vh;
  width: 100vw;
  position: fixed;
  z-index: -1;
}

.hero-vid {
  display: flex;
  height:100%;
  width: 100%;
  justify-content: center;
  align-content: end;
}

.hero > strong {
  position: absolute;
  z-index: 2;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.hero > img {
  height: 100%;
  width: 100%;
  background-color: var(--base-color);
}

.hero-cover {
  height: 100vh;
  position: relative;
  z-index: 2;
}

/*
body
*/

.section {
  height: calc(100vh - var(--headerheight));
  width: 100vw;
  padding: 0 2rem;
  background-color: var(--base-color);
}

.section-title {
  text-align: center;
  padding: 2rem;
  font-size: 2rem;
}

.section-subtitle {
  font-size: 1.5rem;
}

/*
service
*/

.service-item {
  height: 80%;
  width: 80%;
  background-color: var(--base-color);
  border-radius: 50%;
  text-align: center;
}

.service p, .service h3 {
  text-align: center;
}

/* 
how to use
*/

.howtouse {
  height: auto;
  width: auto;
  text-align: center;
}

.howtouse-list > li + li {
  margin-top: 50px;
}

.howtouse h5 {
  font-size: 1.25rem;
}

.howtouse img {
  height: 50vh;
}

.howtouse-list > li {
  height: 70vh;
}

/*
sign up
*/

.signup {
  background-color: var(--base-color);
}

/*
footer
*/

/* 
meal
*/

#openwrapper {
  display: flex;
  justify-content: space-between;
}

.open, .close {
  cursor: pointer;
  width: 16rem;
  height: 8rem;
  line-height: 4.9rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  text-align: center;
  padding: auto 0;
  margin:0 auto 0;
  box-shadow: 2px 2px 3px 0 rgba(0, 0, 0, .2);
}

.open {
  background-color: var(--accent-color);
  color: #F5F5F4;
  transition: .1s  ease-in-out;
  display: flex;
  flex-flow: column;
  justify-content: space-evenly;
}

.open:hover {
  transform: translate3d(0, 2px, 0);
  background-color: #CE400D;
  box-shadow: none;
}

.close {
  transition: .1s;
}

.close:hover {
  transform: translate3d(0, 2px, 0);
  background-color: #F5F5F4;
  box-shadow: none;
}

.modal {
  background: #F5F5F4;
  width: 50%;
  padding: 20px;
  border-radius: 4px;
  position: absolute;
  top: 110px;
  left: 0;
  right: 0;
  margin: 0 auto;
  z-index: 2;
}

.mask {
  background: rgba(0, 0, 0, 0.3);
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 1;
}

.hidden {
  display: none;
}

/* 
calendar
*/

/* 
home
*/

.addmealbutton-wrapper {
  display: flex;
  flex-flow: column;
  margin:0 auto 0;
}

.button-subtext {
  line-height: 1;
  display: block;
}

.home-flexwrapper {
  display: flex;
}

/* #todaymealtotal {
  width: 80%;
}

#todaytotalweight {
  width: 20%;
} */

div .home-mealopen {
  height: 4rem;
}