@charset "utf-8";

/* 
common
*/

* {
  box-sizing: border-box;
  --base-color: #fff;
  --accent-color: #F15A22;
  --headerwidth: 120px;
}

html {
  height: 100%;
}

body {
  margin: 0;
  color: #333;
}

main {
  height: 100%;
  margin-left: var(--headerwidth);
  padding: 3rem 0 3rem 0;
  background-color: #F5F5F4;
}

section {
  padding: 1rem;
  margin: 2rem 1rem 2rem;
  background-color: #fff;
  box-shadow: 2px 2px 3px 0 rgba(0, 0, 0, .2);
}

footer {
  padding-left: var(--headerwidth);
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0;
  font-weight: normal;
  position: relative;
  line-height: 1;
}

h2 {
  margin: 0 0 1rem 1rem;
  font-size: 2rem;
  line-height: normal;
}

h2::before{
  content:"";
  display:inline-block;
  width:0.3rem;
  height: 3rem;
  background-color:var(--accent-color);
  position:absolute;
  top: 0;
  left: -0.5rem;
}

ul, ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
  transition: .1s ease-in-out;
}

a:visited {
  color: inherit;
}

th,td {
  border-bottom: solid 1px;
  font-size: 1rem;
  padding: .25rem;
  vertical-align: middle;
  text-align: center;
}

.deleteform {
  display: inline;
}

.delete {
  padding: 5px;
  border: solid 1px #75818D;
  border-radius: 5px;
}

.delete:hover {
  cursor: pointer;
}

th {
  background-color: #f1592224;
}

td {
  background-color: #fff;
}

table {
  border-collapse: collapse;
  width: 100%;
  border: solid 1px;
}

.unit-g::after {
  content: "g";
}

.unit-kcal::after {
  content: "kcal";
}

/* 
レスポンシブ
*/

@media screen and (min-width: 900px) {
  html {
    font-size: 18px;
  }
}

/* 
header
*/

.orange {
  color: var(--accent-color) !important;
}

.orange:hover {
  color: #CE400D !important;
}

.title-header {
  width:100%;
  height: 3rem;
  padding: 0 1rem 0 0;
  box-shadow: 2px 2px 3px 0 rgba(0, 0, 0, .2);
  position: fixed;
  z-index: 2;
  background-color: #070707;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.title-header-item {
  position: relative;
  display: flex;
  align-items: center;
  padding-right: 0.5rem;
}

.title-header-icon {
  font-size: 2rem;
  padding: 0.5rem;
}

.title-header-text {
  font-size: 0.75rem;
}

.showtitleheadersubmenu {
  width: 100%;
  font-size: 1rem;
  background-color: #070707e8;
  color: #75818D;
  width: var(--headerwidth);
  height: var(--headerwidth);
  position: absolute;
  top: 3rem;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-flow: column;
}

.title-header-submenu{
  width: 100%;
}

header > h1 {
  width: 10rem;
  font-size: 1.75rem;
  text-align: center;
  color: #fff;
}

.title-header-item {
  color: #75818D;
}

.title-header-item:hover {
  color: #fff;
  cursor: default;
}

nav {
  position: fixed;
  padding-top: 3rem;
  width: var(--headerwidth);
  height: 100%;
  background-color: #272727;
  z-index: 1;
}

.header-item {
  color: #75818D;
  width: var(--headerwidth);
  height: var(--headerwidth);
  text-align: center;
  border-bottom: 2px solid #75818D;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
}

.header-item:hover {
  color: #fff;
}

.header-icon {
  display: block;
  font-size: calc(var(--headerwidth) / 2);
}

.mainmenu {
  position: relative;
}

/* サイドメニューでホバーした時にサブメニューを表示する用 */
/* .showsubmenu {
  font-size: 0.75rem;
  color: #75818D;
  border: 2px solid #75818D;
  width: var(--headerwidth);
  height: var(--headerwidth);
  background-color: #304352;
  position: absolute;
  bottom: 0;
  right: -100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-flow: column;
} */
/* 
.subitemhref:hover {
  color: #fff;
} */

.current {
  color: #fff;
  position: relative;
}

.current.header-item::after {
  content: "";
  position: absolute;
  top: 35%;
  right: 0;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: calc(var(--headerwidth) / 8) calc(var(--headerwidth) / 8) calc(var(--headerwidth) / 8) 0;
  border-color: transparent #F5F5F4 transparent transparent;
}

/*
footer
*/

/* 
モーダルウィンドウ系
 */

#openwrapper {
  display: flex;
  justify-content: space-between;
}

.open, .close {
  cursor: pointer;
  width: 16rem;
  height: 8rem;
  line-height: 4.9rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  text-align: center;
  padding: auto 0;
  margin:0 auto 0;
  box-shadow: 2px 2px 3px 0 rgba(0, 0, 0, .2);
}

.open {
  background-color: var(--accent-color);
  color: #F5F5F4;
  transition: .1s  ease-in-out;
  display: flex;
  flex-flow: column;
  justify-content: space-evenly;
}

.open:hover {
  transform: translate3d(0, 2px, 0);
  background-color: #CE400D;
  box-shadow: none;
}

.close {
  transition: .1s;
  display: flex;
  flex-flow: column;
  justify-content: space-evenly;
  margin-top: 1rem;
}

.close:hover {
  transform: translate3d(0, 2px, 0);
  background-color: #F5F5F4;
  box-shadow: none;
}

button[type="submit"] {
  cursor: pointer;
  display: block;
  margin-left: auto;
  height: 5rem;
  width: 8rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: var(--accent-color);
  color: #F5F5F4;
  outline: none;
  box-shadow: 2px 2px 3px 0 rgba(0, 0, 0, .2);
}

button[type="submit"]:hover {
  transform: translate3d(0, 2px, 0);
  background-color: #CE400D;
  box-shadow: none;
}

.modal {
  background: #F5F5F4;
  width: 50%;
  padding: 20px;
  border-radius: 4px;
  position: absolute;
  top: 110px;
  left: 0;
  right: 0;
  margin: 0 auto;
  z-index: 2;
}

.mask {
  background: rgba(0, 0, 0, 0.3);
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 1;
}

.hidden {
  display: none;
}

/* 
home
*/

.addmealbutton-wrapper {
  display: flex;
  flex-flow: column;
  margin:0 auto 0;
}

.button-subtext {
  line-height: 1;
  display: block;
}

.home-flexwrapper {
  display: flex;
}

div .home-mealopen {
  height: 4rem;
}

#todaymealtotal {
  flex-grow: 7;
}

#todaytotalweight {
  display: flex;
  flex-flow: column;
  flex-grow: 3;
}

.todaytotalweight {
  display: block;
  margin: auto auto;
  font-size: 1.75rem;
}

/* 
target
*/

.targetwrapper {
  display: flex;
  justify-content: space-between;
}

.nowtarget {
  font-size: 1.75rem;
  margin-left: 2rem;
}

/* 
calendar
*/

.calendardatetr {
  height: 3rem;
}

.calendardatetr td {
  border: solid 1px #070707;
}

.calendardate {
  display: block;
  width: 100%;
  height: 100%;
}

.today {
  background-color: #f15922d0;
}

/* 
footer
*/

.footer {
  background-color: #fff;
  margin-right: 1rem;
  line-height: 2rem;
  text-align: right;
}